{
  "cmake.sourceDirectory": "/home/ros2/ws/src/{{ vs_code_package }}",
  "clang-format.fallbackStyle": "none",
  "clang-format.language.cpp.style": "file:/home/ros2/.clang-format",
  "C_Cpp.intelliSenseEngine": "disabled",
  "[cpp]": {
    "editor.defaultFormatter": "xaver.clang-format",
    "editor.inlayHints.enabled": "on"
  },
  "editor.rulers": [
    120
  ],
  "[python]": {
    "editor.defaultFormatter": "charliermarsh.ruff"
  },
  "ruff.nativeServer": "on",
  "ruff.lineLength": 120,
}