{
  "$schema": "https://docs.aica.tech/schemas/1-3-0/controller.schema.json",
  "name": "{{ controller_name }}",
  "description": {
    "brief": "Brief description of the controller",
    "details": "Detailed description of the controller."
  },
  "plugin": "{{ package_name }}/{{ controller_name }}",
  "inherits": "modulo_controllers/RobotControllerInterface",
  "control_type": "{{ hardware_interface }}"
}
