cmake_minimum_required(VERSION 3.15)
project({{ package_name }})

if (NOT CMAKE_C_STANDARD)
    set(CMAKE_C_STANDARD 99)
endif ()

if (NOT CMAKE_CXX_STANDARD)
    set(CMAKE_CXX_STANDARD 20)
endif ()

if (CMAKE_COMPILER_IS_GNUCXX OR CMAKE_CXX_COMPILER_ID MATCHES "Clang")
    add_compile_options(-Wall -Wextra -Wpedantic)
endif ()

find_package(ament_cmake_auto REQUIRED)
find_package(control_libraries 9.2.0 CONFIG REQUIRED COMPONENTS state_representation robot_model controllers)

include(InstallAicaDescriptions)

ament_auto_find_build_dependencies()

include_directories(include)

ament_auto_add_library(${PROJECT_NAME} SHARED
        src/{{ controller_name }}.cpp)

target_link_libraries(${PROJECT_NAME} ${control_libraries_LIBRARIES})

pluginlib_export_plugin_description_file(controller_interface controller_plugins.xml)

install_aica_descriptions(./controller_descriptions ${CMAKE_INSTALL_PREFIX}/controller_descriptions)

ament_auto_package()

if(BUILD_TESTING)
  find_package(ament_cmake_gmock REQUIRED)

  include_directories(test/include)

  ament_add_gmock(
    test_controllers
    test/controller_tests/test_{{ controller_name_snake }}.cpp
  )
  target_include_directories(test_controllers PRIVATE include)
  target_link_libraries(test_controllers ${PROJECT_NAME})
endif()

