<library path="{{ package_name }}">
    <class name="{{ package_name }}/{{ controller_name }}" type="{{ package_name }}::{{ controller_name }}" base_class_type="controller_interface::ControllerInterface">
        <description>
            A description for your controller.
        </description>
    </class>
</library>