{
  "$schema": "https://docs.aica.tech/schemas/1-1-2/component.schema.json",
  "name": "Template CPP Lifecycle Component",
  "description": {
    "brief": "Brief description of the component",
    "details": "Detailed description of the component."
  },
  "registration": "{{ package_name }}::CPPLifecycleComponent",
  "inherits": "modulo_components::LifecycleComponent"
}